In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Censo2020/Viviendas19.CSV')
df

,ENT,MUN,LOC50K,ID_VIV,COBERTURA,ESTRATO,UPM,FACTOR,CLAVIVP,PAREDES,...,ALIM_ADL1,ALIM_ADL2,ING_ALIM_ADL1,ING_ALIM_ADL2,ING_ALIM_ADL3,TIPOHOG,INGTRHOG,JEFE_SEXO,JEFE_EDAD,TAMLOC
0,19,1,0,190010000001,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,12900.0,3,30,1
1,19,1,0,190010000002,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,20640.0,1,31,1
2,19,1,0,190010000003,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,20640.0,1,31,1
3,19,1,0,190010000004,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,16770.0,1,57,1
4,19,1,0,190010000005,1,19-001-0000-03,1,1,1,8.0,...,2,4,2,4,6,1,51600.0,1,47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98310,19,51,0,190510000880,2,19-051-0000-03,15,1,2,8.0,...,2,4,2,4,6,5,7310.0,1,50,1
98311,19,51,0,190510000881,2,19-051-0000-03,16,2,1,8.0,...,2,4,2,4,6,5,0.0,1,75,1
98312,19,51,0,190510000882,2,19-051-0000-03,17,2,1,8.0,...,1,3,1,4,6,1,6620.0,1,75,1
98313,19,51,0,190510000883,2,19-051-0000-03,18,1,1,8.0,...,2,4,2,4,6,2,10000.0,1,54,1
98314,19,51,0,190510000884,2,19-051-0000-03,19,2,1,8.0,...,2,4,2,4,6,1,3800.0,1,69,1

In [13]:
prueba = df.groupby('CLAVIVP')['MUN'].value_counts()
prueba

CLAVIVP  MUN
1        31     6582
         48     5170
         6      4887
         46     4827
         18     4758
                ...
99       12        1
         17        1
         18        1
         41        1
         44        1
Name: MUN, Length: 238, dtype: int64

In [10]:
convertir = {
    '1': 'Casa Ãºnica en el terreno',
    '2': 'Casa que comparte terreno con otra(s)',
    '3': 'Casa dÃºplex',
    '4': 'Departamento en edificio',
    '5': 'Vivienda en vecindad o cuarterÃ­a',
    '6': 'Vivienda en cuarto de azotea de un edificio',
    '7': 'Local no construido para habitaciÃ³n',
    '8': 'Vivienda mÃ³vil',
    '9': 'Refugio',
    '99': 'No especificado de vivienda particular'
}

In [16]:
num = prueba[1,32]
num

871

In [63]:
estadistica = (prueba / prueba.sum()) *100

In [64]:
estadistica

MUN  CLAVIVP
1    1          0.660123
     2          0.141382
     7          0.003051
2    1          1.112750
     2          0.158674
                  ...
50   2          0.075268
     7          0.002034
51   1          0.735391
     2          0.162742
     7          0.001017
Name: CLAVIVP, Length: 238, dtype: float64

In [8]:
prueb =df[df.CLAVIVP == 1]

In [11]:
prueb['CLAVIVP'].count()

84356

In [30]:
df.head()

,ENT,MUN,LOC50K,ID_VIV,COBERTURA,ESTRATO,UPM,FACTOR,CLAVIVP,PAREDES,...,ALIM_ADL1,ALIM_ADL2,ING_ALIM_ADL1,ING_ALIM_ADL2,ING_ALIM_ADL3,TIPOHOG,INGTRHOG,JEFE_SEXO,JEFE_EDAD,TAMLOC
0,19,1,0,190010000001,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,12900.0,3,30,1
1,19,1,0,190010000002,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,20640.0,1,31,1
2,19,1,0,190010000003,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,20640.0,1,31,1
3,19,1,0,190010000004,1,19-001-0000-03,1,1,2,8.0,...,2,4,2,4,6,1,16770.0,1,57,1
4,19,1,0,190010000005,1,19-001-0000-03,1,1,1,8.0,...,2,4,2,4,6,1,51600.0,1,47,1

In [29]:
df[df.JEFE_EDAD.isin([40, 50])]

,ENT,MUN,LOC50K,ID_VIV,COBERTURA,ESTRATO,UPM,FACTOR,CLAVIVP,PAREDES,...,ALIM_ADL1,ALIM_ADL2,ING_ALIM_ADL1,ING_ALIM_ADL2,ING_ALIM_ADL3,TIPOHOG,INGTRHOG,JEFE_SEXO,JEFE_EDAD,TAMLOC
34,19,1,0,190010000035,1,19-001-0000-03,4,1,2,8.0,...,2,4,2,4,6,2,19350.0,3,50,1
36,19,1,0,190010000037,1,19-001-0000-03,4,1,2,8.0,...,2,4,2,4,6,1,15050.0,3,40,1
38,19,1,0,190010000039,1,19-001-0000-03,4,1,1,8.0,...,2,4,2,4,6,1,16600.0,1,50,1
61,19,1,0,190010000062,1,19-001-0000-03,6,1,1,8.0,...,2,4,2,4,6,1,21500.0,1,50,1
67,19,1,0,190010000068,1,19-001-0000-03,7,1,1,8.0,...,2,4,2,4,6,2,18060.0,1,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98249,19,51,0,190510000819,2,19-051-0000-03,10,2,1,8.0,...,2,4,2,4,6,1,21020.0,1,50,1
98263,19,51,0,190510000833,2,19-051-0000-03,10,2,1,8.0,...,2,4,2,4,6,2,16310.0,1,50,1
98267,19,51,0,190510000837,2,19-051-0000-03,10,2,1,8.0,...,2,4,2,4,6,1,3400.0,3,50,1
98298,19,51,0,190510000868,2,19-051-0000-03,11,2,1,8.0,...,2,4,2,4,6,1,5160.0,1,40,1
98310,19,51,0,190510000880,2,19-051-0000-03,15,1,2,8.0,...,2,4,2,4,6,5,7310.0,1,50,1

In [194]:
    import statistics

PORCENTAJES = {
    6 : 4.8940,
    5 : 2,
    4 : 1,
    3 : 0.4667,
    2 : 0.2667,
    1 : 0.1573
}

    
    intercept = 801547.40
    mtsprecio = 625.5
    bed = 84512.60
    bath= 113268.90 
    
    Eco = 296771.15 
    Pop = 503001.95 
    Trad = 880253.41 
    Media =  1886257.30 
    Res = 3772514.60 
    Res2 = 10000000
    
  
    venta = 1200000 
    cuartos_value = 1
    
    if(venta>Res): 
        categoria = 6
        segmento = "Residencial Plus"
    elif(venta>Media):
        categoria = 5
        segmento = "Residencial"
    elif(venta>Trad):
        categoria = 4
        segmento = "Media"
    elif(venta>Pop):
        categoria = 3
        segmento = "Tradicional"
    elif(venta>Eco):
        categoria = 2
        segmento = "Popular"
    else: 
        categoria = 1
        segmento = "EconÃ³mico"
            
    porc = PORCENTAJES[categoria]
      
    
    opcionesbaÃ±os=[]
    opcionesmts=[]
    
    def ope (cuarto_value,venta):
        opcionesbaÃ±os=[]
        opcionesmts=[]
        preciobase = intercept + (cuartos_value*bed)
        for i in range(1,cuarto_value+1):
            baÃ±os = i
            baÃ±osprecio = (baÃ±os*bath*porc)
            preciorestante = venta - (preciobase*porc)
            precioconbaÃ±o = preciorestante - baÃ±osprecio
            metros = round(precioconbaÃ±o/(mtsprecio*porc),2)
            baÃ±omedio = i+0.5
            baÃ±osmedioprecio = (baÃ±omedio*bath*porc)
            precioconbaÃ±omedio = preciorestante - baÃ±osmedioprecio
            metrosmedio = round(precioconbaÃ±omedio/(mtsprecio*porc),2)
            opcionesbaÃ±os.append(baÃ±os)
            opcionesmts.append(metros)
            opcionesbaÃ±os.append(baÃ±omedio)
            opcionesmts.append(metrosmedio)
        return opcionesbaÃ±os, opcionesmts

    
    if (cuartos_value != '' and cuartos_value != None): 
        opciones = ope(cuartos_value,venta) 
    else:
        preciobase = intercept

mtsesperados = cuartos_value * 100



baÃ±os = opciones[0]
metraje = opciones[1]

    def algoritmo(baÃ±o,metro):
        if(max(metro)>0):
            dato = []
            for i in range(0,len(baÃ±o)):
                if(metro[i]>0):
                        metrica = baÃ±o[i]*metro[i]
                        dato.append(metrica)
                        
            aprox = statistics.mean(dato)
            
            dato=[]
            
            for i in range(0,len(baÃ±o)):
                    diff = abs(aprox-metraje[i])
                    dato.append(diff)
                    
            menor=dato[0]
            posicion=0

            for i in range(0,len(baÃ±o)):
                    if (dato[i]<menor):
                        menor=dato[i]
                        posicion=i  
            dato = []
            dato.append(baÃ±o[posicion])
            dato.append(metro[posicion])
            return(dato)
        else:
            aviso = "Te sugerimos considerar menos habitaciones."

pera= algoritmo(baÃ±os,metraje)

baÃ±osOP = pera[0]
metrajeOP = pera[1]


    if(metrajeOP > mtsesperados*1.5):
        aviso = "Te sugerimos considerar mÃ¡s habitaciones."
    else:
        aviso = "Parece que todo va bien."

print(max(baÃ±os))
print(baÃ±os)
print(metraje)
print(segmento)
print(baÃ±osOP)
print(metrajeOP)
print(aviso)

1.5
[1, 1.5]
[320.82, 230.27]
Media
1
320.82
Te sugerimos considerar mÃ¡s habitaciones.